@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>Orcus User Portal :: Home</title>
    <script src="~/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/Home.css" />
</head>

<body class="theme-purple ls-toggle-menu">
    <section id="NavBarSection" class="bg-dark">
        <div class="container">
            @*<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">*@
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand logo" href="#">
                    <img src="https://thememakker.com/templates/oreo/html/assets/images/logo.svg" alt="Orcus User Portal" />
                    <span class="h3">Orcus User Portal</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ServicesSection">Services in Orcus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-button" asp-action="SignIn" asp-controller="User">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-button" asp-action="SignUp" asp-controller="User">Register</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section id="Body">
        <div class="landing-section">
            <div class="content">
                <h1>Orcus User Portal</h1>
                <p>The No.1 E-Commerce Solution Platform of Bangladesh</p>
                <a class="button" asp-action="SignUp" asp-controller="User" type="button">Register Now!</a>
            </div>
        </div>
        <div id="ServicesSection" class="container">
            <h1 class="h1 text-center">Services In Orcus Digital Platform</h1>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="card">
                        <i class="zmdi zmdi-shopping-cart"></i>
                        <br />
                        <h1 class="h4">Complete E-Commerce Solution</h1>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card">
                        <i class="material-icons">store</i>
                        <br />
                        <h1 class="h4">Inventory Management Solution</h1>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card">
                        <i class="material-icons">flight_takeoff</i>
                        <br />
                        <h1 class="h4">
                            Home Delivery Service
                            <br />
                            (Inside Dhaka Only)
                        </h1>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card">
                        <i class="material-icons">videogame_asset</i>
                        <br />
                        <h1 class="h4">Online Games</h1>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card">
                        <i class="material-icons">people_outline</i>
                        <br />
                        <h1 class="h4">Digital Marketing</h1>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card">
                        <i class="material-icons">people_outline</i>
                        <br />
                        <h1 class="h4">Chat Bot Solution</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $('.landing-section').css('background-image', 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/HomeBG.jpg")');
        $('#NavBarSection .nav-item').click((elem) => {
            $('#NavBarSection .nav-item').removeClass('active');
            $(elem.target).parent().addClass('active');
        });
    </script>
</body>